@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 코드 블록 기본 스타일 */
pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 1rem;
}

/* 라인 하이라이트 */
[data-highlighted-line] {
  background-color: rgba(71, 76, 110, 0.4);
  border-left: 2px solid #7aa2f7;
}

/* 라인 번호 */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
